<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	
	<servlet>
		<servlet-name>createPDF</servlet-name>
		<servlet-class>/CompletePdfTool/src/com/santhyreddy/createPDF/CreatePDFF.java</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createPDF</servlet-name>
		<url-pattern>/createPDF</url-pattern>
	</servlet-mapping>
	
</web-app>
